h1, h2 {
    color: green;
  }
  
  p {
    color: gray;
  }
  ul {
    border: 1px solid green;
  }
  
  ol {
    border: 5px solid purple;
  }
  
  ol, ul {
    padding: 5px 20px;
    border-radius: 4px;
  }
  
 h1, strong {
        color: purple;
      }
      
      em {
        color: gold;
        }
  .new{
  color: orange;
}
  .header2{
    color: blue
  }
      